/* AppointmentLog.js */
.patient-app{
    width: 100%;
    height: auto;
  }
  .sorting-container{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .sorting-bar{
    width: 80%;
    height: 40px;
    border-radius: 7px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .sorting-bar button{
    border: 0px;
    height: 35px;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    font-family: poppins;
    font-size: 15px;
  }
  .appointment-container{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
  }
  .appointments{
    width: 80%;
    height: 40px;
    background-color: #f1faee;
    border-radius: 7px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  .appointments p{
    margin-left: 20px;
  }
  .add-appointment-containner{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add-app{
    width: auto;
    height: 50px;
    background-color: #03045e;
    border-radius:7px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    gap: 20px;
  }
  .upcomming-appointments{
    width: 100%;
    height: 30px;
  }