header{
  width: 100%;
  height: 70px;
  background-color: #03045e;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-div a{
  color: white;
}
.nav-div{
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-right: 20px;
  justify-content: center;
}
.nav-div a{
  color: white;
  text-decoration: none;
}